.p1 {
    display: block;
    padding: 8px 32px 8px 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.p2 {
    display: block;
    width: 360px;
    height: 50px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
}

.p3 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p4 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p5 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 4px 4px 4px 4px;
    margin-bottom: 8px;
}

.p6 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 4px 4px 4px 4px;
    margin-bottom: 8px;
}

.p7 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 4px 4px 4px 4px;
    margin-bottom: 8px;
}

.p8 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p9 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p10 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p11 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p12 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}

.p13 {
    display: block;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 24px;
    margin-bottom: 8px;
}